
{% extends 'base.html' %}

{% load staticfiles %}
{% block jumbotron2 %}
<div class="container">
                 <div class="jumbotron">
                    <h1>Navbar example</h1>
                    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
                    <p>To see the difference between static and fixed top navbars, just scroll.</p>
                    <p>
                      <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
                    </p>
                  </div>
</div>
{% endblock %}


{% block content %}

<div class="row">
  
	
    {% for item in items %}
          <div class="thumbnails">
            {% if item.itemimage_set %}
                  {% for item in item.itemimage_set.all %}
                  <div class='col-sm-4'>  
                      {% if item.featured %}
                      <img class="img-responsive" src="{{ MEDIA_URL }}{{ item.image.url }}"/>
                      {% endif %}
                  {% endfor %}
            {% else %}
            <img class="img-responsive" src="{% static 'img/default.jpg' %}"/>
            {% endif %}
                <div class="caption">
                  <a href="/items/{{ item.slug }}"><h3>{{ item.title }}</h3></a>
                  <p>{{ item.description|truncatechars:500 }}</p>
                  <p><a href="/items/{{ item.slug }}" class="btn btn-primary" role="button">View</a><a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
          </div>
      
  </div>
    {% cycle "" "" "</div><br/><hr/><div class='row'>" %}

    {% endfor %}
  

</div>


{% endblock %}